{% extends "navbar_user.html" %}
{% load static from staticfiles %}
{% block content %}

<div class="bagian-status mt-4">
            <div style="display: flex; flex-direction: column;">
                <h4 style="text-align: center;">Pesanan Diproses</h4>
                <div class="kotak-status">
                    {% for order in Pesanan_Diproses%}
                    <div class="status">
                    <p>Nama: {{order.nama_pengorder}}</p>
                    <p>Alamat: {{order.alamat}}</p>
                    <p>Nomor Telepon: {{order.nomor_telepon}} </p>
                    <p>Paket: {{order.nama_paket}}</p>
                    {% if order.category == "ambil_sendiri"  %}
                    <p>Drop/Pickup : Pickup</p>
                    {% else %}
                    <p>Drop/Pickup : Drop</p>
                    {% endif %}
                    <p>Total Harga: Rp{{order.total_harga}}</p>
                    <p>Status: {{order.status}}</p>
                    <div class = "laundry-list">
                        {% for laundry in order.laundry.all  %}
                        <div class = "laundry">
                            <p> Berat : {{laundry.berat_paket}} Kg</p>
                            <p> Berat : {{laundry.harga_laundry}}Kg</p>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h4 style="text-align: center;">Pesanan Selesai</h4>
                <div class="kotak-status">
                   {% for order in Pesanan_Selesai %}
                    <div class="status">
                        <p>Nama: {{order.nama_pengorder}}</p>
                        <p>Alamat: {{order.alamat}}</p>
                        <p>Nomor Telepon: {{order.nomor_telepon}} </p>
                        <p>Paket: {{order.nama_paket}}</p>
                        {% if order.category == "ambil_sendiri"  %}
                        <p>Drop/Pickup : Pickup</p>
                        {% else %}
                        <p>Drop/Pickup : Drop</p>
                        {% endif %}
                        <p>Total Harga: Rp{{order.total_harga}}</p>
                        <p>Status: {{order.status}}</p>
                        <div class = "laundry-list">
                            {% for laundry in order.laundry.all  %}
                            <div class = "laundry">
                                <p> Berat : {{laundry.berat_paket}} Kg</p>
                                <p> Harga : {{laundry.harga_laundry}}Kg</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h4 style="text-align: center;">Pesanan Ditolak</h4>
                <div class="kotak-status">
                   {% for order in Ditolak %}
                    <div class="status">
                        <p>Nama: {{order.nama_pengorder}}</p>
                        <p>Alamat: {{order.alamat}}</p>
                        <p>Nomor Telepon: {{order.nomor_telepon}} </p>
                        <p>Paket: {{order.nama_paket}}</p>
                        {% if order.category == "ambil_sendiri"  %}
                        <p>Drop/Pickup : Pickup</p>
                        {% else %}
                        <p>Drop/Pickup : Drop</p>
                        {% endif %}
                        <p>Total Harga: Rp{{order.total_harga}}</p>
                        <p>Status: {{order.status}}</p>
                        <div class = "laundry-list">
                            {% for laundry in order.laundry.all  %}
                            <div class = "laundry">
                                <p> Berat : {{laundry.berat_paket}} Kg</p>
                                <p> Harga : {{laundry.harga_laundry}}Kg</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</div>
{% endblock %}