{% extends "base.html" %}
{% load static %}
{% block content %}
<div class ="containerAtas">
            <h1> We offer you The Best Laundry Service.
                Save time, enjoy your time
            </h1>
            
            <img class="photos" src="https://files.catbox.moe/0f9bdn.jpg">
</div>
<div class = "containerBawah">
            <form method="POST" : action="{% url 'dataPelanggan:homepage' %}" >
                    {% csrf_token %}
                    <table>
                        <tr>
                            {{ homepage.as_table }}
                        </tr>
                    </table>
                        <button class="button" type="submit">Submit</button>       
            </form>

                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

            <h2>  About Me</h2>
            <h3>
             Our Laundry Service is a convenient and affordable 
            of sending out your loundry to be done by proffesional.
            </h3>
        
</div>
{% endblock %}
