{% load static %}
<!--nav class = "navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand brand" href="#"><b><i>MyLaundry</i></b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse" id = "navbarMenu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="{% url 'dataPelanggan:homepage' %}">Home</a>
          <a class="nav-link" href="#">Order</a>
          <a class="nav-link" href="#">Status</a>
          <a class="nav-link" href="#">Testimoni</a>
        </form>
    </div>
</nav-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-user" style="padding: .7rem 1rem;">
        <a class="navbar-brand brand" href="#"><b><i>MyLaundry</i></b></a>

        {% if navbar == True %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse topnav"  id="navbarResponsive">
                <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end" style="letter-spacing: 2px;">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'dataPelanggan:homepage' %}">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'status:status' id=id_pelanggan %}">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'order:order' id=id_pelanggan %}">Pemesanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'feedback:Testimoni' id=id_pelanggan %}">Testimoni</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>