{% extends "navbar_user.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="kotak-semua">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1 class="h1 mt-3" style="vertical-align: middle; font-family: 'Lota';">Laundry</h1>
        </div>
        <div>
            <h2>Total Harga</h2>
            <h2>Rp{{total_harga}}</h2>
        </div>
    </div>
    <div style="display: none;">
        <p id = "id_nama_paket">{{nama_paket}}</p>
        <p id = "id_category">{{kategori}}</p>
    </div>
    <div class="bagian-form mt-5 mb-5">
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="bungkus-semua-form">
                    <div class="bagian-form1 mr-5">  
                        <div> 
                            <h1>Masukkan Berat</h1>
                            {{form_laundry.berat_paket}}
                        </div>
                        <div>
                            <button class="button" type = "button" onclick= "calculate()" >Calculate</button>
                        </div>
                    </div>
                    <div id ="hasil-kalkulasi" class="bagian-form1 ml-5" style="display:none">
                        <div>
                            <h1>Harga laundry</h1>
                            {{form_laundry.harga_laundry}}
                        </div>
                        <div>
                            <input class = "button" type = "submit" value = "Add Laundry"/>
                        </div>         
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
