{% extends "navbar_user.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="kotak-semua">
    <div>
        <p class="h1 mt-3" style="vertical-align: middle; font-family: 'Lota';">Harga</p>
    </div>

    <div class="bagian-atas" style="margin-top: 10vh;"  >
        <div class="kotak mr-5">
            <button onclick = "pilihReguler()" id = "tombol_reguler" class="button" style="vertical-align:middle;"><span>Next Day</span></button>
            <!-- <p class="h3"></p> -->
        </div>

        <div  class="kotak ml-5">
            <button onclick = "pilihExpress()" id = "tombol_express" class="button" style="vertical-align:middle"><span>Same Day</span></button>
        </div>
    </div>

    <div class="bagian-form mt-5 mb-5">
        <div>
        <form method="POST">
            {% csrf_token %}
            <div class="bungkus-semua-form">
                <div id = "add_laundry" class="bagian-form1">  
                    <div class= "mt-3"> 
                        <h1>Drop / Delivery</h1>
                        {{form_order.category}}
                    </div>
                    <div style="display: none;">
                        {{form_order.nama_paket}}
                    </div>
                    <div class="mt-4">
                        <input onclick= "calculate()" class="button" type="submit" value = "Add your Laundry">
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>


{% endblock %}
