body{
    /**background-color: rgb(196, 204, 228) !important;**/
    background-color: rgb(196, 204, 228) !important;
    
    height: 100%;
    width: 100%;
}
.navbar{
    background:#D7E0F9;
    width: 100%;
    height: 70px;
  }
  .navbar a{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding: 50px;
  }
.Regist{
    justify-content: center;
    padding: 230px;
    text-align: center;
}

.containerAtas h1{
    width: 60%;
    float: right;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
    margin-top: 100px;
    padding-left: 40px;
    color: #173D68;
}
.containerAtas .photos{
    width: 40%;
    float: right;
}
.containerBawah h2{
    width: 40%;
    float: right;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 60px;
    
}
.containerBawah h3{
    width: 40%;
    float: right;
    font-size: 25px;
    color: black;
    padding-left: 20px;
    font-style: italic;
}
.containerBawah form{
    width: 60%;
    float: right;
    font-size: 25px;
    text-align: right;
    color: #000000;
    margin-top: 70px;
    padding-left: 400px;
}

.containerBawah .messages{
    font-size: 30px;
}

.Regist h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-style: italic;
    color: #173D68;
}
.Regist h3{
    text-align: center;
}